[site]
UsedNOVA4000CID = <ENTER CID>               ; looks like a UUID in URI
UsedNOVA4000ClientID = <ENTER CLIENT ID>    ; first value on login page

[user]
user = <USERNAME>                           ; username from login page
password = <PASSWORD>                       ; password from login page
employeeseq = <EMPLOYEE SEQUENCE NUMBER>    ; from URI param EmployeeSeq
accessseq = <ACCESS SEQUENCE NUMBER>        ; from URI param AccessSeq
userseq = <USER SEQUENCE NUMBER>            ; from URI param UserSeq

[uri]
host = online5.timeanywhere.com             ; main URI hostname
page = novatimeservicesV2/api               ; API endpoint of URI

[cookie]
NOVA_cookie-47873=<COOKIE ID>               ; from request header/session cookie
ASP.NET_SessionId=<SESSION ID>              ; from request header/session cookie

[hours]
weekhours = 40                              ; How many hours in a work week
paycodes = 0[WKHR] 1[HOLI] 4[PTO]           ; paycodes that should be grouped for tracking overtime