[cookie]
; set the default language and locale
i18next = en
defaultlocale = en-US

[user]
; username from login page
user = <USERNAME>

; password from login page
password = <PASSWORD>

[uri]
; main URI hostname
host = online4.timeanywhere.com

; API endpoint of URI
page = novatimeservicesV2/api

; client ID, looks like a UUID in the login URI
cid = <ENTER CID>

[hours]
; How many hours in a work week
weekhours = 40

; paycodes that should be grouped for tracking overtime
paycodes = 0[WKHR] 1[HOLI] 4[PTO]

